<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Default Ruleset" Description="General Rulesets in ..\Templates folder. To use by default. This ignore the documentation rules." ToolsVersion="14.0">
	<Include Path=".\Templates\General.ruleset" Action="Default" />
	<Include Path=".\Templates\DisabledOnTest.ruleset" Action="Default" />
</RuleSet>