<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="DisabledOnTest Ruleset" Description="DisabledOnTest Ruleset" ToolsVersion="14.0">
	<Rules AnalyzerId="CodeCracker.CSharp" RuleNamespace="CodeCracker.CSharp">
		<Rule Id="CC0030" Action="Warning" />   <!-- Make local variable const when it is Possible -->
		<Rule Id="CC0021" Action="Warning" /> <!-- Use 'nameof(Foo)' instead of specifying the program element name -->
		<Rule Id="CC0037" Action="Warning" />  <!-- Remove commented code -->
	</Rules>
	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
		<Rule Id="CA1707" Action="Warning" />   <!-- Identifiers should not contain underscores -->
		<Rule Id="CA2000" Action="Warning" /> <!-- Dispose objects before losing scope -->
		<Rule Id="CA1822" Action="Warning" />  <!-- Elements must be documented -->
		<Rule Id="CA1806" Action="Warning" /> <!-- Do not ignore method results -->
		<Rule Id="CA1303" Action="Warning" /> <!-- Do not pass literals as localized parameters -->
		<Rule Id="CA1062" Action="Warning" /> <!-- Validate arguments of public methods -->
	</Rules>
	<Rules AnalyzerId="Roslynator.CSharp.Analyzers" RuleNamespace="Roslynator.CSharp.Analyzers">
		<Rule Id="RCS1118" Action="Warning" />  <!-- Mark local variable as const -->
		<Rule Id="RCS1010" Action="Warning" /> <!-- Use 'var' instead of explicit type (when the type is obvious) -->
		<Rule Id="RCS1202" Action="Warning" /> <!-- Avoid NullReferenceException -->
        <Rule Id="RCS1046" Action="Warning" />  <!-- Asynchronous method name should end with 'Async' -->
        <Rule Id="RCS1181" Action="Warning" /> <!-- Replace comment with documentation comment -->
	</Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1305" Action="Warning" /> <!-- Field names must not use hungarian notation -->
        <Rule Id="SA0001" Action="Warning" /> <!-- Xml comment analysis disabled -->
    </Rules>
</RuleSet>
