<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Custom Rulset" Description="Custom Rulset" ToolsVersion="14.0">
	<Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
		<Rule Id="SA1600" Action="Warning" />
		<Rule Id="SA1601" Action="Warning" />
		<Rule Id="SA1602" Action="Warning" />
		<Rule Id="SA1611" Action="Warning" />
		<Rule Id="SA1615" Action="Warning" />
		<Rule Id="SA1618" Action="Warning" />
		<Rule Id="SA1619" Action="Warning" />
	</Rules>
</RuleSet>