<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="DisabledOnTest Ruleset" Description="DisabledOnTest Ruleset" ToolsVersion="14.0">
	<Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
		<Rule Id="CA1707" Action="Warning" />   <!-- Identifiers should not contain underscores -->
		<Rule Id="CA2000" Action="Warning" /> <!-- Dispose objects before losing scope -->
		<Rule Id="CA1822" Action="Warning" />  <!-- Elements must be documented -->
		<Rule Id="CA1806" Action="Warning" /> <!-- Do not ignore method results -->
		<Rule Id="CA1303" Action="Warning" /> <!-- Do not pass literals as localized parameters -->
		<Rule Id="CA1062" Action="Warning" /> <!-- Validate arguments of public methods -->
	</Rules>
    <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
        <Rule Id="SA1305" Action="Warning" /> <!-- Field names must not use hungarian notation -->
        <Rule Id="SA0001" Action="Warning" /> <!-- Xml comment analysis disabled -->
    </Rules>
</RuleSet>
